/* banner starts here  */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  border: none;
}
.heading,
.title-2,
.title-3 {
  font-size: 64px;
  background-color: rgb(251 223 229);
  text-align: center;
  color: rgb(39, 39, 39);
  padding: 16px;
  margin: 32px 0px;
  font-family: Lato;
}
/* Navigation Starts Here */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed; /*made the nav bar sticky*/
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: #2727270d;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding-right: 40px;
}
.header #bars {
  font-size: 16px;
  padding: 8px 24px;
  border-radius: 8px;
  border: 5px solid #666;
  color: #333;
  display: none;
}
.header .logo {
  font-family: Lato;
  font-size: 48px;
  font-weight: bolder;
  color: #ffffff;
  text-decoration: none;
}
.header .logo span {
  color: #E55473;
}
.header .nav-bar a {
  font-size: 32px;
  color: #ffffff;
  padding-left: 32px;
  text-decoration: none;
}
.header .nav-bar a:hover {
  color: #e55473;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 32px;
  }
}
@media (max-width: 768px) {
  .header #bars {
    display: block;
  }
  .header .nav-bar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #eee;
    padding: 16px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .nav-bar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .nav-bar a {
    display: block;
    margin: 16px;
    padding: 8px;
    background: #fff;
    border: 1.6px solid rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
}
/* Navigation Ends Here */

/* banner starts here  */
.flower {
  height: 100vh;
  width: 500px;
}
.banner-main {
  display: flex;
  justify-content: space-around;                            
  align-items: center;
  padding: 60px 140px 0;
  background-color: rgb(251, 223, 229);
}
.title {
  color: #272727;
  font-family: Lato;
  font-size: 63px;
  font-weight: 800;
  margin-bottom: 32px;
}
.detail {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 22px;
}
.btn {
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background-color: Transparent;
  border: none;
  cursor: pointer;
  color: rgb(32, 32, 32);
  border: 2px solid #e55473;
  font-weight: bolder;
}
.btn:hover {
  background-color: #e55473;
}
/* banner ends here  */

/* featured section starts here  */
.title-2 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  margin-top: 122px;
}
.pink {
  color: #e55473;
}
.detail-2 {
  display: flex;
  flex-direction: column;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-bottom: 48px;
  margin-top: 20px;
}
.bg-main {
  display: flex;
  justify-content:center ;
  margin-top: 40px;
}
.bg-1 {
  width: 303px;
  height: 360px;
  border-radius: 2000px 2000px 0px 0px;
  background: rgba(192, 13, 99, 0.282);

}
.bg-2 {
  width: 303px;
  height: 360px;
  border-radius: 2000px 2000px 0px 0px;
  background: rgba(205, 7, 23, 0.434);
  margin-left: 25px;
}
.bg-3 {
  width: 303px;
  height: 360px;
  border-radius: 2000px 2000px 0px 0px;
  background: rgba(25, 207, 80, 0.289);
  margin-left: 25px;
}
.purple-tulip {
  height: 310px;

}
.flower-bouquet {
  
  height: 310px;
}
.yellow-tulip {
  
  height: 310px;
}
.bg-1,
.bg-2,
.bg-3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.flower-names {
  display: flex;
  justify-content:center;
  margin-top: 32px;
  text-align: center;
  margin-bottom: 100px;
}
.flower-1 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  cursor: pointer;
  position: relative;
  right: 180px;
}
.flower-2 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  cursor: pointer;
  position: relative;
}
.flower-3 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  cursor: pointer;
  position: relative;
  left: 180px;
}
/* .flower-name:hover{
    text-decoration-line: underline;
} */

/* featured section ends here  */



/* Offer section starts here */
.offer {
  height: 500px;
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sale {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}
.detail-3 {
  display: flex;
  width: 594px;
  flex-direction: column;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
}

.signup-btn {
  display: inline-flex;
  padding: 20px 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
  margin-top: 32px;
  gap: 10px;
  border-radius: 8px;
  background-color: #e55473;
  border: none;
  cursor: pointer;
  color: rgb(31, 31, 31);
  font-weight: bolder;
}
.off {
  color: #e55473;
}
/* Offer section ends here  */

/* Instagram section starts here  */
.title-3 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 128px;
}
.detail-4 {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
  margin-top: 24px;
}
.instagram-image {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.instagram-image img {
  max-width: 5000%;
  height: auto;
  border-radius: 5px;
  width: 1440px;
}
.flower1 {
  margin-left: 28px;
}
.flower3 {
  margin-right: 28px;
}
/* instagram section ends here  */

/* contact section starts here */

.heading span {
  color: #e55473;
}
.girl {
  max-width: 680px;
  height: auto;
}

.contact .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
.contact .row .form-container {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  flex: 16 16 640px;
  padding: 32px;
}
.contact .row .form-container form input,
.contact .row .form-container form textarea {
  width: 100%;
  height: 64px;
  border: 1.6px solid rgba(0, 0, 0, 0.1);
  margin: 16px 0;
  padding: 16px;
  border-radius: 8px;
  font-size: 24px;
}
.contact .row .form-container form .box:focus {
  border-color: #e55473;
}
.contact .row .form-container form textarea {
  height: 240px;
}
.contact .row .image {
  flex: 16 16 640px;
}
@media (max-width: 768px) {
  .contact {
    padding: 32px;
  }
}

/* contact section ends here */

/* Newsletter section starts here */

.Newsletter {
  padding: 100px 130px;
}
.news-bg {
  background-image: url("../images/rectangle\ 9.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 80px;
  border-radius: 5px;
}
.news-bg h1 {
  font-family: Lato;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
}
.input-email {
  height: 55px;
  width: 500px;
  padding: 15px;
  border: 1px groove;
  border-radius: 8px;
  margin-right: 10px;
}
.input-email:focus {
  border-color: #e55473;
}

/* Newsletter section ends here */

/* Footer section starts here  */
.finish {
  width: 100%;
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding: 100px 140px;
}
.logo{
  color: #E55473;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.half{
  color: #ffffff;
}
.last{
margin-top: 24px;
margin-bottom: 34px;
 color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;

}
.copyright{
  color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-weight: 400;
}

/* -----------------------------------Fiiinnnisshhhh!!!!!!------------------------------- */